/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Variables */
:root {
    --font-poppins: 'Poppins', sans-serif;
    --font-nabla: 'Nabla', sans-serif;
    --color-white: rgb(255,255,255);
    --color-blue: rgba(22,128,170,1);
    --color-dark-blue: #2C3E50;
    --color-light-blue: #34495E;
    --color-off-white: #ecf0f1;
    --color-green: #4CAF50;
    --color-red: #f44336;
    --color-black: #333;
    --color-light-grey: #f5f5f5;
    --color-grey: #ccc;
    --color-dark-grey: #2a2a2a;
}

/* Base Styles */
* {
	font-family: var(--font-poppins);
}
body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
html {
    height: -webkit-fill-available;
}
p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Main Styles */
main {
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    background: var(--color-white);
    background: linear-gradient(180deg, 
	var(--color-white) 0%, 
	var(--color-blue) 100%);
}

/* Sidebar Styles */
#mySideNav {
	position: relative;
	width: 280px; 
	height: 100vh;
	float:left;
	border: solid 1px black;
    background-color: var(--color-dark-blue);
	border-right: solid 1px var(--color-light-blue);
	overflow: auto;
}
#sidebar-title {
	font-family: var(--font-nabla);
	font-size: 1.8em;
	margin: 20px 0;
	color: var(--color-off-white);
	text-align: center;
}
#sidebar-nav .nav-item {
	margin: 10px 0;
}
#sidebar-nav .nav-item a {
	display: flex;
	align-items: center;
	padding: 15px;
}
#sidebar-nav .nav-item:hover {
	background-color: var(--color-light-blue);
}
.sidebar-arrow-button {
	background: rgb(33,37,41);
	float: right;
    background-color: 0d6efd;
	border: none;
	color: var(--color-off-white);
	font-size: 20px;
	padding: 10px;
	width: 100%;
	cursor: pointer;
}
.sidebar-arrow-button:hover {
	background-color: var(--color-dark-blue);
}

/* Dropdown Styles */
.dropdown-toggle { outline: 0; }

/* Text Styles */
.text-lg {
  font-size: 18px;
}
.material-icons {
	margin-right:10px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color:white;
}
.home-text {
	position: relative;
	text-align:center;
	padding-top: 20px;
	font-weight:750;
}

/* List Styles */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 10px 0;
  cursor: pointer;
}

/* Footer Styles */
.footerContainer {
	background-color: #166888;
	text-decoration:none;
	display: flex;
    align-items: center;
    padding: 10px 20px;
}
.footerLogo {
	height: 20px;
	width: 95px;
	margin: 5px;
	clear: left;
	float: left;
	margin-top: 15px;
	margin-right: 20px;
}
.footerLinks {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
.footerLink {
    text-decoration: none;
    color: var(--color-off-white);
    margin: 0 10px;
    text-align: center;
}

.material-icons {
	font-size: 24px;
	margin-right: 15px;
}

.nav-item {
	border-radius: 6px;
}

.nav-item:hover {
	background: #84bcd2;
}

#main-title {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100vh;
	margin: 0 auto;
	text-align: center;
	border: 2px solid var(--color-white);
}
@font-palette-values --title {
	font-family: "Nabla";
	base-palette: 2;
	override-colors: 6 rgb(22, 128, 170);
}

.home-text {
	text-align: center;
	padding-top: 20px;
	font-weight: 750;
}

#scorLink, #sspLink, #sharePointLink {
	text-decoration: none !important;
	text-align: center;
	margin-top: 10px;
	color: var(--color-white);
}

#scorLink {
	flex: 1;
}

#sspLink {
	flex: 2;
}

#sharePointLink {
	flex: 3;
}

#shareList a:link {
	text-decoration: none;
}

#fileList {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	height: 20vh;
	width: 100vh;
	padding: 70px;
	text-align: center;
	border: 4px solid var(--color-white);
	margin-bottom: 20px;
}

#fileList a {
    margin-right: 15px;
    margin-bottom: 15px;
    font-weight: 600;
    color: var(--color-black);
    text-decoration: none;
    border-bottom: 2px solid var(--color-green);
    padding: 5px 8px;
    display: inline-block;
    transition: all 0.3s ease;
}

#fileList a:hover {
    color: var(--color-green);
    border-bottom-color: var(--color-black);
}

#shareHeader {
	position: relative;
	height: 20vh;
	width: 100vh;
	margin: 0 auto;
	padding: 20px;
}

.shareMain {
	height: 100vh;
	-ms-overflow-style: none;
    overflow-y: scroll;
}

#UserID {
	margin: 20px 0;
	padding: 15px;
	color: var(--color-off-white);
	font-size: 14px;
	text-align: center;
}

.function-list-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#function-list {
	text-align: center;
	font-size: 20px;
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	border: 2px solid var(--color-white);
	border-radius: 4px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#function-list ul {
	list-style: none;
	padding: 0;
}

#function-list li {
	margin: 10px 0;
	padding: 8px;
	border: 1px solid var(--color-grey);
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	font-weight: bold;
	border-bottom: 2px solid #ddd;
}

#function-list li:hover {
	background-color: var(--color-light-grey);
}

input, button {
	margin: 10px;
}

/* Modal styles */
#myModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: auto;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 80%;
    max-width: 500px;
    background-color: var(--color-white);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 25px;
    cursor: pointer;
}

/* Parameter input styles */
#functionParameters h4 {
    margin-top: 20px;
}

#functionParameters div {
    margin: 5px 0;
}

#functionParameters label {
    margin-right: 10px;
}

#functionParameters input {
    padding: 5px;
    border: 1px solid var(--color-grey);
    border-radius: 5px;
}

/* Toggle arrow styles */
#toggleOptional {
    cursor: pointer;
}

/* Add and remove buttons */
button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: var(--color-green);
    color: var(--color-white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.remove {
    background-color: var(--color-red);
}

/* Add styles for loading indicator inside the modal content */
#loadingIndicator {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
}

#runButton {
	background-color: rgb(28, 131, 172);
}

#folderDiv a {
    font-weight: 700;
    color: var(--color-dark-grey);
    text-decoration: none;
    border-bottom: 3px solid var(--color-green);
    padding: 6px 10px;
    display: inline-block;
    margin-right: 12px;
    transition: all 0.3s ease;
}

#folderDiv a:hover {
    color: var(--color-green);
    border-bottom-color: var(--color-dark-grey);
}

#function-header h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--color-black);
	font-family: var(--font-poppins);
}

#copy-button {
    background-color: var(--color-green);
    border: none;
    color: var(--color-white);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
#output {
  background-color: #1e1e1e; /* dark background color */
  color: #d4d4d4; /* light text color */
  padding: 20px; /* space around the text */
  border-radius: 5px; /* rounded corners */
  font-family: 'Courier New', Courier, monospace; /* monospace font */
  font-size: 20px; /* font size */
  white-space: pre-wrap; /* preserves spaces and line breaks */
  word-wrap: break-word; /* prevents long text from overflowing */
  overflow-x: auto; /* adds horizontal scrollbar if needed */
  max-height: 50vh; /* maximum height before scrollbar appears */
  width: 75%; /* set width to 75% of its container */
  text-align: center; /* center the text horizontally */
  margin: 0 auto; /* center the div horizontally within its container */
  margin-top: 20px; /* Add margin above output */
  resize: both; /* make the div resizable both horizontally and vertically */
  overflow: auto; /* needed for the resize property to work */
}



/* For tablets and small laptops */
@media screen and (max-width: 1024px) {
    #main-title, #fileList {
        width: 80vw; /* Use viewport width units instead of fixed values */
    }
    p {
        font-size: 18px; /* Reduce the font size */
    }
    #function-list {
        max-width: 350px; /* Reduce the max-width */
        padding: 15px; /* Reduce the padding */
    }
    .footerLogo {
        height: 15px; /* Reduce logo size */
        width: 70px; /* Reduce logo width */
    }
}

/* For mobile devices */
@media screen and (max-width: 768px) {
    #main-title, #fileList {
        width: 90vw; /* Increase width to use more space available on mobile */
    }
    p {
        font-size: 16px; /* Further reduce font size */
    }
    #sidebar-title {
        font-size: x-large; /* Reduce font size of sidebar title */
    }
    #function-list {
        max-width: 100%; /* Allow function list to expand fully */
        padding: 10px; /* Reduce padding */
    }
}
