<configuration>
   <system.webServer>
      <security>
         <authorization>
                
                <add accessType="Allow" roles="eu.scor.local/Groups/ACC-APP-RPSS" verbs="GET" />
                <add accessType="Allow" roles="eu.scor.local/Groups/ACC-APP-RPSS-Admin" verbs="POST" />
                <add accessType="Deny" users="?" />
         </authorization>
      </security>
        <handlers>
            <add name="FASTCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="E:\PHP\php-cgi.exe" resourceType="File" />
        </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="home.php" />
                <add value="index.php" />
                <add value="Default.php" />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
   </system.webServer>
    <system.web>
        <authentication mode="Windows" />
    </system.web>
</configuration>
