<configuration>
   <system.webServer>
      <security>
         <authorization>
                <remove users="*" roles="" verbs="" />
                <add accessType="Deny" users="?" />
                <add accessType="Allow" roles="eu.scor.local\ACC-APP-RPSS" />
				<add accessType="Allow" roles="eu.scor.local\ACC-APP-RPSS-Admin" />
         </authorization>
      </security>
        <handlers>
            <add name="FASTCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="E:\PHP\php-cgi.exe" resourceType="File" />
        </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="home.php" />
                
            </files>
        </defaultDocument>
   </system.webServer>
    <system.web>
        <authentication mode="Windows" />
        <sessionState mode="StateServer" />
    </system.web>
</configuration>
